@import url('https://fonts.googleapis.com/css?family=Roboto');

.App-logo {
  color: white;
}

.App-header {
  background-color: rgb(6, 119, 153);
  height: 30px;
  padding: 20px;
  color: white;
}
.App-main{
  border: 0 auto;
  text-align: center
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.today-stats{
  text-align: start;
  padding: 0.7px 2px;
  background: #d2d9f5;
  font-size: .8rem;
  color:#7783a3;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1 time label{
  background: rgb(6, 119, 153);
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
}

#play-stop-button{
  border-radius: 100%;
  padding: .3rem;
  margin-left: 2rem;
}

.green-back {
  background:rgb(61, 228, 111); 
}

.red-back{
  background: rgb(99, 156, 182);
}